/* 
    Created on : Jun 19, 2017, 2:28:35 PM
    Author     : Mr.Minakov
*/

.page {
    background-color: #507299;
}

/*
=====================index=====================
*/
.logo, .registration, .about {
    background-color: #EDEEF0;
    margin-top: 20px;
    border-radius: 5px;
}

.logo {
    padding: 84px 0px 84px 0px;
}

.registration {
    padding: 15px 25px 15px 25px;
}

.about {    
    padding: 160px 0px 160px 0px;
    margin-bottom: 20px;
}

/*
=====================registration=====================
*/
.reg-process {
    background-color: #EDEEF0;
    border-radius: 5px;
    margin-top: 15px;
}

.reg-text {
    padding-top: 20px;
    margin: 0px 50px 0px 50px;
}

/*
=====================objects=====================
*/
.obj-page {
    background-color: white;
    border-radius: 5px;
    margin: 15px 30px 15px 30px;
}

#tab-obj-content {
    margin-right: 30px;
}

.profile {
    border-right: 5px #507299 solid;
    border-bottom: 5px #507299 solid;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.active-obj, .finished-obj {
    background-color: #EDEEF0;
    margin-top: 5px;
    padding: 10px 0px 10px 0px;
}

.objects-info {
    border-right: 5px #507299 solid;
    margin-bottom: 10px;
    padding-bottom: 5px;    
}

#active-obj-btn p, #finished-obj-btn p, #places a {
    background-color: #337AB7;
    color: white;
    padding: 10px 0px 10px 0px;
    margin-top: 5px;
}

#places a:hover {
    background-color: #286090;
}

.objects-info a:hover {
    text-decoration: none;
}

.objects-info a:focus {
    text-decoration: none;
}

.profile .btn-primary, .objects-info .btn-primary {
    margin-top: 3px;
}

.objects-about {    
    border-bottom: 5px #507299 solid;
}
